:root {
  --main-background-color: rgb(40, 40, 40);
}

h4 {
  height: 10px;
  position: relative;
  top: 0px;
}

a {
  font-size: 130%;
}

#image {
  height: 10vh;
}

.App {
  text-align: center;
}

.app-header {
  background-color: #1a1a1a;
  min-height: 10vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: calc(10px + 2vmin);
  color: rgb(156, 0, 0);
  box-sizing: border-box;
}

#siva {
  width: 30vw;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  letter-spacing: 5px;
  font-size: 3rem;
  text-align: left;
}

#sign-in-section {
  width: 30vw;
  /* border: 2px solid white; */
  display: flex;
  justify-content: right;
  flex-direction: row-reverse;
  margin-right: 80px;
}

#sign-in {
  padding: 7px 14px;
  text-transform: uppercase;
  border: groove 1px gray;
  background-color: #1a1a1a;
  color: rgb(148, 148, 148);
}

#current-loadout {
  height: 50vh;
  background-color: var(--main-background-color);
  color: whitesmoke;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#internal-div {
  width: 40vw;
  height: 40vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 10vw;
}

#new-loadout {
  padding: 10px;
  margin: 5px;
  border: 2px groove rgba(128, 128, 128, 0.87);
  background-color: var(--main-background-color);
  color: whitesmoke;
}

#loadout {
  height: 40vh;
  width: 30vw;
  background-color: var(--main-background-color);
  display: flex;
  flex-direction: column;
}

#menu {
  height: 20vh;
  width: 18vw;
  top: 18.5vh;
  left: 10vw;
  color: whitesmoke;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: left;
  padding-left: 10px;
  font-size: 110%;
  position: absolute;
}

#k-menu {
  height: 40vh;
  width: 18vw;
  top: 22.5vh;
  left: 15vw;
  color: whitesmoke;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: left;
  padding-left: 10px;
  font-size: 110%;
  position: absolute;
}

#e-menu {
  height: 40vh;
  width: 18vw;
  top: 18.5vh;
  left: 10vw;
  color: whitesmoke;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: left;
  padding-left: 10px;
  font-size: 110%;
  position: absolute;
}

#h-menu {
  height: 20vh;
  width: 18vw;
  top: 18.5vh;
  left: 10vw;
  color: whitesmoke;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: left;
  padding-left: 10px;
  font-size: 110%;
  position: absolute;
}

#loadout-name {
  height: 10vh;
  width: 18vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

#loadout-input {
  height: 49px;
  width: 18vw;
  font-size: 120%;
  text-align: center;
}

#class-selector {
  height: 25%;
  border: 2px groove gray;
  font-size: 140%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#weapon-slot {
  height: 25%;
  border: 2px groove gray;
  font-size: 140%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#btns-div {
  height: 40vh;
  width: 10vw;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

#btn-section {
  width: 10vw;
  height: 40vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

#loadout-button {
  height: 40px;
  width: 80px;
  border: 1px groove rgba(0, 0, 0, 0.61);
  border-radius: 2px;
  background-color: gray;
  color: whitesmoke;
  font-size: 100%;
  text-transform: uppercase;
}

#equip-button {
  height: 40px;
  min-width: 80px;
  border: 1px groove rgba(0, 0, 0, 0.61);
  border-radius: 2px;
  background-color: gray;
  color: whitesmoke;
  font-size: 100%;
  text-transform: uppercase;
}

#loadout-select {
  height: 45vh;
  background-color: #1a1a1a;
  color: whitesmoke;
  border-top: 3px inset gray;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

#lower-div {
  width: 100vw;
  height: 40vh;
  display: flex;
  flex-direction: row;
  background-color: #1a1a1a;
  justify-content: space-evenly;
}

#lower-loadout {
  height: 40vh;
  width: 30vw;
  background-color: #1a1a1a;
  display: flex;
  flex-direction: row;
}

#char-class {
  height: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px groove gray;
  font-size: 140%;
}

#weapon-slot:hover {
  background-color: black;
}

#char-class:hover {
  background-color: black;
}

#class-selector:hover {
  background-color: black;
}